server:
  port: 8123
  servlet:
    context-path: /api

spring:
  application:
    name: tutu
  profiles:
    active: pro
  servlet:
    multipart:
      max-file-size: 10MB
      enabled: true

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: false
    global-config:
      db-config:
        logic-delete-field: isDelete #全局逻辑删除字段
        logic-delete-value: 1 #逻辑已删除值 (默认为1)
        logic-not-delete-value: 0 #逻辑未删除值 (默认为0)


